.div{

    background-color:greenyellow;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    padding: 20px;
}

.div2{

    background-color: red;
    width: 100px;
    height: 100px;
    padding: 30px;
}