
.sajib{
    color:red;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

}
.sajib{
    color:gray;
}

.first{
    color: blanchedalmond;
}

.some{
    color: blue;
}

.bold{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-variant: small-caps;
    font-size: 20px;
    line-height: 100%;
}
#git{
    color:red;
    text-decoration: line-through;
}